@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
a {
  text-decoration: none;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  justify-content: center;
  align-items: center;
  font-family: DM Sans;
  min-width: 370px;
}
@media (max-width: 1265px) {
  body {
    width: 90%;
  }
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  width: 87%;
}
header img {
  width: 200px;
  height: 50px;
  cursor: pointer;
}
@media (max-width: 1290px) {
  header img {
    width: 150px;
    height: 37.5px;
  }
}
header nav ul {
  list-style: none;
  margin: 0.5rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header nav ul li {
  display: inline-block;
  margin: 0.1rem;
  border: 1px solid #757575;
  border-radius: 2rem;
  padding: 0.1rem 0.2rem;
  color: #901C1C;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}
header nav ul li:hover, header nav ul li:focus, header nav ul li.up {
  color: #FFFFFF;
  background: #901C1C;
}
@media (max-width: 999px) {
  header nav {
    margin-top: 2rem;
  }
}

main {
  width: 100%;
}
main h1 {
  color: #901C1C;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  position: absolute;
  right: 0;
  top: 0.2rem;
}
@media (max-width: 1407px) {
  main h1 {
    right: 0;
    top: 0.6rem;
    font-size: 1.6rem;
  }
}
@media (max-width: 1110px) {
  main h1 {
    right: 20px;
    top: 1rem;
    font-size: 14px;
  }
}
main > section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  main > section {
    flex-direction: column;
  }
}

article {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 33%;
  margin-bottom: 3rem;
  align-items: center;
}
article a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  article {
    width: 100%;
  }
}
article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
article div img {
  height: 222px;
  transform: scale(1.35);
}
article h2 {
  color: #D3573C;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  width: max-content;
  text-align: center;
  margin: 0;
}
article p {
  margin: 0;
}
article p:nth-child(3) {
  color: #901C1C;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  font-weight: 700;
}
article p:nth-child(4) {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
}
article p:nth-child(5) {
  color: #757575;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
}
article ul {
  list-style: none;
  margin: 0.5rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
article ul li {
  display: inline-block;
  margin: 0.1rem;
  border: 1px solid #757575;
  border-radius: 2rem;
  padding: 0.1rem 0.2rem;
  color: #901C1C;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}
article ul li:hover, article ul li:focus, article ul li.up {
  color: #FFFFFF;
  background: #901C1C;
}

/*# sourceMappingURL=home.css.map */
