@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  justify-content: center;
  align-items: center;
  font-family: DM Sans, sans-serif;
  min-width: 370px;
}
@media (max-width: 1265px) {
  body {
    width: 90%;
  }
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  width: 87%;
}
header img {
  width: 200px;
  height: 50px;
  cursor: pointer;
}
@media (max-width: 1290px) {
  header img {
    width: 150px;
    height: 37.5px;
  }
}
header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}
header nav ul li {
  display: inline-block;
  margin-right: 0.5rem;
  border: 0.5px solid #C4C4C4;
  border-radius: 12px;
  padding: 0.1rem 0.2rem;
  color: #901C1C;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}
header nav ul li:hover, header nav ul li:focus {
  color: #FFFFFF;
  background: #901C1C;
}
@media (max-width: 999px) {
  header nav {
    margin-top: 2rem;
  }
}

main {
  width: 100%;
}
main h1 {
  color: #901C1C;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  position: absolute;
  right: 0;
  top: 0.2rem;
}
@media (max-width: 1407px) {
  main h1 {
    right: 0;
    top: 0.6rem;
    font-size: 1.6rem;
  }
}
@media (max-width: 1110px) {
  main h1 {
    right: 20px;
    top: 1rem;
    font-size: 14px;
  }
}
main > #banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  main > #banner {
    flex-direction: column;
  }
}
main > #banner article {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  width: 80%;
  margin-bottom: 3rem;
  align-items: center;
  background-color: #FAFAFA;
  height: 313px;
}
@media (max-width: 1024px) {
  main > #banner article {
    width: 100%;
    height: 150px;
    background-color: unset;
    margin-bottom: 0;
  }
}
main > #banner article section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
}
main > #banner article section .infos h1 {
  position: unset;
  color: #D3573C;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 83px;
  margin: 0;
}
@media (max-width: 1024px) {
  main > #banner article section .infos h1 {
    font-size: 36px;
    line-height: 35px;
  }
}
main > #banner article section .infos p {
  margin: 0;
}
main > #banner article section .infos p.tagline {
  color: #901C1C;
  font-size: 24px;
  font-style: normal;
  line-height: 31px;
  letter-spacing: 0em;
  font-weight: 700;
}
@media (max-width: 1024px) {
  main > #banner article section .infos p.tagline {
    font-size: 13px;
  }
}
main > #banner article section .infos ul {
  display: flex;
  list-style: none;
  padding: 0;
}
main > #banner article section .infos ul li {
  display: inline-block;
  margin-right: 0.5rem;
  border: 0.5px solid #C4C4C4;
  border-radius: 12px;
  padding: 0.1rem 0.2rem;
  color: #901C1C;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}
main > #banner article section .infos ul li:hover, main > #banner article section .infos ul li:focus {
  color: #FFFFFF;
  background: #901C1C;
}
main > #banner article section .contactButton {
  border: none;
  background: #911C1C;
  font-family: DM Sans, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 5px;
  width: 170px;
  height: 69px;
  cursor: pointer;
}
main > #banner article section .contactButton:hover, main > #banner article section .contactButton:focus {
  background: #D3573C;
  color: #000;
}
@media (max-width: 1024px) {
  main > #banner article section .contactButton {
    position: fixed;
    top: 95%;
    height: 35px;
    left: 28%;
    z-index: 20;
  }
}
main > #banner article section .imgWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 50%;
  width: 193px;
  height: 200px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  main > #banner article section .imgWrapper {
    width: 100px;
    height: 100px;
    top: 2.5rem;
  }
}
main > #banner article section .imgWrapper img {
  height: 100%;
  transform: scale(1.5);
}
main > #banner article .priceBottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: -7px;
  right: 0;
  background: #D3573C;
  border-radius: 5px;
  width: 376px;
  height: 60px;
  z-index: 20;
}
@media (max-width: 1024px) {
  main > #banner article .priceBottom {
    display: none;
  }
}
main > #banner article .priceBottom img {
  width: 12px;
  margin-left: -111px;
}
main > #banner article #form-modal {
  background-color: #D3573C;
  width: 669px;
  z-index: 100;
  position: fixed;
  top: 1%;
  left: 20%;
  display: none;
  padding: 15px 8%;
}
@media (max-width: 1024px) {
  main > #banner article #form-modal {
    padding: 0.6rem;
    height: 812px;
    width: auto;
    left: 0;
    top: 0;
    margin: 0;
  }
}
main > #banner article #form-modal h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  margin: 0;
}
@media (max-width: 1024px) {
  main > #banner article #form-modal h4 {
    font-size: 36px;
  }
}
main > #banner article #form-modal .close {
  position: absolute;
  right: 2rem;
  top: 3.5rem;
  cursor: pointer;
}
@media (max-width: 1024px) {
  main > #banner article #form-modal .close {
    width: 1rem;
    top: 2rem;
  }
}
main > #banner article #form-modal form {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}
@media (max-width: 1024px) {
  main > #banner article #form-modal form {
    margin-top: 5%;
  }
}
main > #banner article #form-modal form .text-control {
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  font-size: 20px;
  height: 30px;
}
main > #banner article #form-modal form .formData[data-error]::after {
  content: attr(data-error);
  font-size: 1em;
  color: #fff;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  opacity: 0;
  transition: 0.3s;
}
main > #banner article #form-modal form .formData[data-error-visible=true]::after {
  opacity: 1;
}
main > #banner article #form-modal form .formData[data-error-visible=true] .text-control {
  border: 2px solid #e54858;
}
main > #banner article #form-modal form input[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: red;
}
main > #banner article #form-modal form label {
  font-size: 27px;
  color: #312E2E;
  display: block;
}
@media (max-width: 1024px) {
  main > #banner article #form-modal form label {
    font-size: 24px;
  }
}
main > #banner article #form-modal form input, main > #banner article #form-modal form textarea {
  width: 599px;
  border-radius: 5px;
  border-style: none;
  font-size: 30px;
  color: #525252;
}
@media (max-width: 1024px) {
  main > #banner article #form-modal form input, main > #banner article #form-modal form textarea {
    width: 338px;
    font-size: 18px;
  }
}
main > #banner article #form-modal form input {
  line-height: 35px;
}
main > #banner article #form-modal form textarea {
  resize: none;
}
main > #banner article #form-modal form .btn-submit {
  background-color: #901C1C;
  color: white;
  width: 170px;
  height: 69px;
  font-size: 18px;
  margin-top: 2rem;
  cursor: pointer;
}
@media (max-width: 1024px) {
  main > #banner article #form-modal form .btn-submit {
    height: 35px;
    align-self: center;
  }
}
main > #portofolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
main > #portofolio .filter-container {
  display: flex;
}
main > #portofolio .filter-container h4 {
  margin-right: 1rem;
  width: unset;
}
@media (max-width: 1024px) {
  main > #portofolio .filter-container h4:first-child {
    display: none;
  }
}
main > #portofolio .filter-container .filter {
  display: flex;
  flex-direction: column;
  flex: 1 0 90%;
  align-items: flex-start;
  position: absolute;
  left: 80px;
  z-index: 10;
  margin: 0;
}
@media (max-width: 1024px) {
  main > #portofolio .filter-container .filter {
    display: none;
  }
}
main > #portofolio .filter-container .filter li {
  background: #901C1C;
  line-height: 57px;
  width: 150px;
  text-align: left;
  color: white;
  padding-left: 20px;
  top: 0;
  cursor: pointer;
  display: block;
}
main > #portofolio .filter-container .filter li:hover, main > #portofolio .filter-container .filter li.is-selected {
  color: black;
  background: #D3573C;
}
main > #portofolio .filter-container .filter li:first-child {
  border-radius: 5px;
}
main > #portofolio .filter-container .filter li:first-child.extend {
  border-radius: 5px 5px 0 0;
}
main > #portofolio .filter-container .filter li:not(:first-child) {
  position: relative;
}
main > #portofolio .filter-container .filter li:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 7%;
  top: 0;
  height: 1px;
  width: 86%;
  /* or 100px */
  border-top: 1px solid white;
  margin: auto;
}
main > #portofolio .filter-container .filter li:last-child {
  border-radius: 0 0 5px 5px;
}
main > #portofolio .filter-container .filter li.topFilterInMenu {
  position: relative;
}
main > #portofolio .filter-container .filter li.topFilterInMenu .arrow {
  position: absolute;
  font-size: 2rem;
  right: 1rem;
  top: 1.5rem;
  transition: all 200ms 0s ease-in-out;
}
main > #portofolio .filter-container .filter li.topFilterInMenu .arrow.up {
  transform: scaleY(-1);
}
main > #portofolio .filter-container .filter .hidden {
  display: none;
}
main > #portofolio .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
@media (max-width: 1024px) {
  main > #portofolio .container {
    justify-content: center;
    grid-template-columns: 1fr;
  }
}
main > #portofolio .container article {
  position: relative;
  margin-bottom: 2rem;
}
main > #portofolio .container article img:first-child {
  object-fit: cover;
  width: 350px;
  height: 300px;
  border-radius: 5px;
}
@media (max-width: 1024px) {
  main > #portofolio .container article img:first-child {
    width: 335px;
    height: 190px;
  }
}
main > #portofolio .container article .medias {
  cursor: pointer;
}
main > #portofolio .container article h4 {
  color: #901C1C;
  margin: 0;
}
main > #portofolio .container article span {
  font-weight: 700;
  color: #901C1C;
  position: absolute;
  bottom: 0;
  right: 20px;
}
main > #portofolio .container article .heart-likes {
  width: 16px;
  position: absolute;
  right: 0;
  bottom: 3px;
  opacity: 1;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
main > #portofolio .container article .heart-likes:hover {
  transform: scale(1.2);
}
main > #portofolio .lightbox {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: auto;
}
main > #portofolio .lightbox button {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}
main > #portofolio .lightbox button:hover {
  opacity: 1;
}
main > #portofolio .lightbox .lightbox__closer {
  position: fixed;
  top: 20px;
  right: 36px;
  background: url(../images/Lightbox-closer.svg) center center/100% 100% no-repeat;
  border: none;
  width: 28px;
  height: 42px;
  z-index: 25;
}
@media (max-width: 1024px) {
  main > #portofolio .lightbox .lightbox__closer {
    top: 182px;
    right: 13px;
    width: 17px;
    height: 17px;
  }
}
main > #portofolio .lightbox .lightbox__next, main > #portofolio .lightbox .lightbox__prev {
  border: none;
  background: url(../images/Lightbox-arrow.svg) center center/48px 30px no-repeat;
  width: 100px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: -14px;
  z-index: 21;
}
@media (max-width: 1024px) {
  main > #portofolio .lightbox .lightbox__next, main > #portofolio .lightbox .lightbox__prev {
    width: 40px;
  }
}
main > #portofolio .lightbox .lightbox__prev {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}
main > #portofolio .lightbox .lightbox__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 70px;
}
main > #portofolio .lightbox .lightbox__container .lightbox__loader {
  width: 38px;
  height: 38px;
  opacity: 0.5;
  background: url(../images/lightbox-loader.svg) center center no-repeat;
}
main > #portofolio .lightbox .lightbox__container h4 {
  color: #901C1C;
}
main > #portofolio .lightbox .lightbox__container img, main > #portofolio .lightbox .lightbox__container video {
  height: 64%;
}
@media (max-width: 1024px) {
  main > #portofolio .lightbox .lightbox__container img, main > #portofolio .lightbox .lightbox__container video {
    height: auto;
    width: 100%;
  }
}

/*# sourceMappingURL=photographer.css.map */
