@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

$h2color:#D3573C; 
$h1color:#901C1C;
$grey: #757575;

@mixin liStyle ($cursor:pointer) {
  & ul {
    list-style: none;
    margin: 0.5rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & li {
      display: inline-block;
      margin: 0.1rem;
      border: 1px solid $grey;
      border-radius: 2rem;
      padding: 0.1rem 0.2rem;
      color: $h1color;
      font-weight: 700;
      font-size: 12px;  
      cursor: $cursor;
      transition: all 350ms ease-in-out;
      &:hover,&:focus,&.up{
        color: #FFFFFF;
        background:$h1color;
      }
    }
  }
}
a {
  text-decoration: none;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  justify-content: center;
  align-items: center;
  font-family: DM Sans, sans-serif;
  min-width: 370px;
  @media (max-width:1265px){
    width:90%;
  }
}
header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  width: 87%;
  & #quickMainContent{
    background: $h2color;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;  
    position: fixed;
    top: 10px;  
    left: 47%;
    padding: 0.3rem 0.6rem;
    z-index: 50;
    display: none;
  }
  & img {
    width:200px;
    height: 50px;  
    cursor: pointer;
    @media (max-width:1290px){
      width:150px;
      height: 37.5px;
    }
  }
  & nav {
    @include liStyle();
    @media (max-width:999px){
      margin-top: 2rem;
    }
  }
}

  
main {
  width: 100%;
  & h1{
    color: $h1color;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    position: absolute;
    right:0;
    top: 0.2rem;
    @media (max-width:1407px){
      right:0;
      top:0.6rem;
      font-size: 1.6rem;
    }
    @media (max-width:1110px){
      right: 20px;
      top: 1rem;
      font-size: 14px;
    }
  }
  & > section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media (max-width:1024px){
      flex-direction: column;
    }
  }
}
article {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 33%;
  margin-bottom: 3rem;
  align-items: center;
  & a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width:1024px){
    width:100%;
  }  
  & div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    & img{
      height: 222px;
      transform: scale(1.35);
      transition:  all 250ms ease-in-out;
      &:hover{
        transform: scale(1.6);
      }
    }
  } 
  & h2{
  color: $h2color;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  width: max-content;
  text-align: center;
  margin: 0;
  }  
  & p{
    margin: 0;
    &:nth-child(3){
      color: $h1color;
      font-size: 13px;
      font-style: normal;
      line-height: 17px;
      letter-spacing: 0em;
      font-weight: 700;
    }
    &:nth-child(4){
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 13px;
      letter-spacing: 0em;
    }
    &:nth-child(5){
      color: $grey;
      font-size: 9px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0em;
    }
  }
  @include liStyle(pointer);
}
