@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

$h2color:#D3573C; 
$h1color:#901C1C;
$grey: #757575;
$greydarker:#525252;
$greylighter:#C4C4C4;
$greyspecial:#312E2E;

@mixin liStyle ($cursor:pointer) {
  & ul {
    display: flex;
    list-style: none;
    padding: 0;    
    & li {
      display: inline-block;
      margin-right: 0.5rem;
      border: 0.5px solid $greylighter;
      border-radius: 12px;
      padding: 0.1rem 0.2rem;
      color: $h1color;
      font-weight: 700;
      font-size: 12px;  
      cursor: $cursor;
      &:hover,&:focus{
        color: #FFFFFF;
        background:$h1color;
      }      
    }
  }
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  justify-content: center;
  align-items: center;
  font-family: DM Sans;
  min-width: 370px;
  @media (max-width:1265px){
    width:90%;
  }
}

header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  width: 87%;
  & img {
    width:200px;
    height: 50px;  
    cursor: pointer;
    @media (max-width:1290px){
      width:150px;
      height: 37.5px;
    }
  }
  & nav {
    @include liStyle(pointer);
    @media (max-width:999px){
      margin-top: 2rem;
    }
  }
}
main {
  width: 100%;
  & h1{
    color: $h1color;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    position: absolute;
    right:0;
    top: 0.2rem;
    @media (max-width:1407px){
      right:0;
      top:0.6rem;
      font-size: 1.6rem;
    }
    @media (max-width:1110px){
      right: 20px;
      top: 1rem;
      font-size: 14px;
    }
  }
  & > #banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media (max-width:1024px){
      flex-direction: column;
    }
    & article {
      display: flex;
      flex-direction: row-reverse;
      flex-grow: 1;
      width: 80%;
      margin-bottom: 3rem;
      align-items: center;
      background-color:#FAFAFA ;
      height: 313px;
      @media (max-width:1024px){
        width:100%;
        height: 150px;
        background-color:unset;
        margin-bottom: 0;
      }  
      & section{
        display: flex;
        justify-content: space-around;
        flex-direction: row; 
        width: 100%;
        align-items: flex-start;
        & .infos{
          & h2{
            color: $h2color;
            font-style: normal;
            font-weight: normal;
            font-size: 64px;
            line-height: 83px;
            margin: 0;
            @media (max-width:1024px){
              font-size: 36px;
              line-height: 35px;
            }  
          }  
          & p{
            margin: 0;
            &.tagline{
              color: $h1color;
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: 31px;
              letter-spacing: 0em;
              font-weight: 700;   
              @media (max-width:1024px){
                font-size: 13px;
              }  
            }  
          }
          @include liStyle();

        } 
        & .contactButton{
            border: none;
            background: #911C1C;
            font-family: DM Sans;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            color: #FFFFFF;
            border-radius: 5px;
            width: 170px;
            height: 69px;
            cursor: pointer;
            &:hover,&:focus{
              background: $h2color;
              color: #000;
            }        
            @media (max-width:1024px){
              position: fixed;
              top: 95%;
              height: 35px;
              left: 28%;
              z-index: 20;
            }
        }
        & .imgWrapper{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1rem;
          border-radius: 50%;
          width: 193px;
          height: 200px;
          overflow: hidden; 
          @media (max-width:1024px){
              width:100px;
              height: 100px;
              top: 2.5rem;
            }  
          & img{
            height: 100%;  
            transform: scale(1.5);     
          }
        }
      } 
      & .priceBottom{
        display: flex;     
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: -7px;
        right: 0;
        background: $h2color;
        border-radius: 5px;
        width: 376px;
        height: 60px;
        z-index: 20;
        @media (max-width:1024px){
          display: none;
        }
        & img{
          width: 12px;
          margin-left: -111px;
        }
      }
      & #form-modal{
        background-color: $h2color;
        width: 669px;
        z-index: 100;
        position: fixed;
        top: 1%;
        left: 20%;   
        display: none;  
        padding: 15px 8%;      
        @media (max-width:1024px){
          padding: 0.6rem;
          height: 812px;
          width: auto;
          left: 0;
          top: 0;
          margin: 0;
        }
        & h4{
          font-style: normal;
          font-weight: normal;
          font-size: 64px;
          margin: 0;
          @media (max-width:1024px){
            font-size:36px;
          }
        }
        & .close{
          position: absolute;
          right: 2rem;
          top: 3.5rem;
          cursor: pointer;            
          @media (max-width:1024px){
            width : 1rem;
            top:2rem
          }
        }
        & form{
          display: flex;
          flex-direction: column;
          margin-top: 1%;          
          @media (max-width:1024px){
            margin-top: 5%;   
          }
          & .text-control {
            margin: 0;
            padding: 8px;
            border-radius: 8px;
            font-size: 20px;
            height: 30px;
          }
          & .formData[data-error]::after {
            content: attr(data-error);
            font-size: 1em;
            color: #fff;
            display: block;
            margin-top: 7px;
            margin-bottom: 7px;
            text-align: right;
            line-height: 0.3;
            opacity: 0;
            transition: 0.3s;
          }
          & .formData[data-error-visible="true"]::after {
            opacity: 1;
          }
          & .formData[data-error-visible="true"] .text-control {
            border: 2px solid #e54858;
          }
          & input[data-error]::after {
              content: attr(data-error);
              font-size: 0.4em;
              color: red;
          }          
          & label{
            font-size: 27px;
            color: $greyspecial;
            @media (max-width:1024px){
              margin-top: 2rem;
              margin-bottom: 1rem;
              font-size:24px;
            }
          }
          & input, textarea {
            width: 599px;
            border-radius: 5px;
            border-style: none;
            font-size: 30px;
            color: $greydarker;            
            @media (max-width:1024px){
              width : 338px;
              font-size:18px;
            }
          }
          & input {
            line-height: 35px;
          }
          & textarea {
            resize: none;
          }
          & .btn-submit{
            background-color: $h1color;
            color: white;
            width: 170px;
            height: 69px;
            font-size: 18px;
            margin-top: 2rem;
            cursor: pointer;            
            @media (max-width:1024px){
              height:35px;
              align-self: center;
            }
          }

        }

      }
    }
  }
  & > #portofolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & .filter-container{
      display: flex;
      & h4{
        margin-right: 1rem;
        width: unset;
        &:first-child{        
          @media (max-width:1024px){
            display: none;
          }
        }
      }
      & .filter{        
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 0 90%;
        align-items: flex-start;
        position: absolute;
        left: 80px;
        z-index: 10;        
        margin: 0;
        // @media (max-width:1024px){
        //   display: none;
        // }
        & li{
          background: $h1color;
          line-height: 57px;
          width: 150px;
          text-align: left;
          color: white;
          padding-left: 20px;
          top: 0;
          cursor: pointer;
          display: block;
          &:hover,&.is-selected{
            color: darken($h1color , 70%);
            background: $h2color;
          }
          &.topFilterInMenu{
            position: relative;
            & .arrow{
              position:absolute;
              font-size: 2rem;
              right: 1rem;
              top:1.5rem;    
              transition: all 200ms 0s ease-in-out;
              &.up { 
                transform: scaleY(-1);
              }
            }
          }
        }
        & .hidden {
          display: none;
        }
      }      

    }
    & .container{
      display: flex;
      flex-wrap: wrap;
      flex-basis: 100%;
      flex: 1 0 100%;
      justify-content: space-between;
      padding-bottom: 2rem;        
      @media (max-width:1024px){
        justify-content: center;
      }

      & article{
        position: relative;
        margin-bottom: 2rem;
        & img:first-child{
          object-fit: cover;
          width: 350px;
          height: 300px;
          border-radius: 5px;        
          @media (max-width:1024px){
            width: 335px;
            height: 190px;
          }
        }
        & .medias{
          cursor: pointer;
        }
        & h4{
          color: $h1color;
          margin: 0;  
        }
        & span{
          font-weight: 700;
          color: $h1color;
          position: absolute;
          bottom : 0;
          right: 20px;
        }
        & .heart-likes{          
          width: 16px;
          position: absolute;
          right: 0;
          bottom: 3px;
          opacity: 1;
          cursor: pointer;
          transition: all 250ms ease-in-out;
          &:hover{
            transform: scale(1.2);
          }
        }
      }
    }
    & .lightbox{
      position: fixed;
      z-index: 20;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      overflow: auto;    
      & button{
        opacity: .5;
        cursor: pointer;
        transition: opacity .3s;
        &:hover{
          opacity: 1;
        }
      } 
      & .lightbox__closer{
        position: fixed;
        top:20px;
        right: 36px;
        background: url(../images/Lightbox-closer.svg) center center / 100% 100% no-repeat;
        border: none;
        width:42px;
        height: 42px;
        z-index: 25;
        @media (max-width:1024px) {
          top: 146px;
          right: 18px;
          width: 17px;
          height: 17px;
        }
      }    
      & .lightbox__next, & .lightbox__prev{
        border: none;
        background: url(../images/Lightbox-arrow.svg) center center / 48px 30px no-repeat;
        width: 100px;
        height: 100%;
        position: fixed;
        top:0;
        right: 0;
        margin-top: -14px;
        z-index: 21;
        @media(max-width:1024px){
          width: 40px;
        }
      }
      & .lightbox__prev{
        right: auto;
        left:0;
        transform: rotate(180deg);
      }
      & .lightbox__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0 70px;    
        & .lightbox__loader{
          width: 38px;
          height: 38px;
          opacity: .5;
          background: url(../images/lightbox-loader.svg) center center no-repeat ;
        } 
        & h4{
          color: #901C1C;
        }           
        & img,video{
          height: 67%;
          @media(max-width:1024px){
            height: auto;
            width: 125%;
          }
        }
      }
    }
  }
}

